<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- social icon -->
    <ul class="list-unstyled">
      {% for social in site.data.settings.social %}
      <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
      {% endfor %}
    </ul>
    <!-- /social icon -->

    <!-- hero logo -->
    <div class="hero-logo mx-auto">
      <img src="{{ site.data.settings.hero.hero-logo }}" alt="logo-hero" style="height: auto; width: 15%;">
    </div>
    <!-- /hero logo -->

    <!-- future content placeholder -->
    <div class="future-content">
      <!-- Add future content here -->
    </div>
    <!-- /future content placeholder -->
  </div>
  <!-- background shapes -->
  <!-- <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg.png" alt="bg-shape">
  </div> -->
</section>

<!-- /hero area -->