<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container d-flex justify-content-between align-items-center">
    <!-- social icon -->
    <ul class="list-unstyled d-flex">
      {% for social in site.data.settings.social %}
      <li class="mr-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
      {% endfor %}
    </ul>
    <!-- /social icon -->

    <!-- hero logo -->
    <div class="hero-logo">
      <img src="{{ site.data.settings.hero.hero-logo }}" alt="logo-hero" style="height: auto; width: 15%;">
    </div>
    <!-- /hero logo -->

    <!-- future content placeholder -->
    <div class="future-content">
      <!-- Add future content here -->
    </div>
    <!-- /future content placeholder -->
  </div>
  <!-- background shapes -->
  <div class="layer" id="l2">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l3">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l4">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="bg-shape">
  </div>
  <div class="layer" id="l6">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan.png" alt="bg-shape">
  </div>
  <div class="layer" id="l7">
    <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-orange.png" alt="bg-shape">
  </div>
  <div class="layer" id="l8">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-pink-round.png" alt="bg-shape">
  </div>
  <div class="layer" id="l9">
    <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-2.png" alt="bg-shape">
  </div>
</section>

<!-- /hero area -->