<section class="hero-area bg-primary"{% unless include.title %} id="parallax"{% endunless %}>
  <div class="container d-flex justify-content-between align-items-center">
    <ul class="list-unstyled">
      {% for social in site.data.settings.social %}
      <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
      {% endfor %}
    </ul>

    <div class="hero-logo mx-auto text-center">
      {% if include.title %}
        <h1 class="text-white font-tertiary mb-0">{{ include.title }}</h1>
      {% else %}
        <img src="{{ site.data.settings.hero.hero-logo }}" alt="{{ site.data.settings.title }}" style="height: auto; width: 15%;">
      {% endif %}
    </div>

    <div class="future-content"></div>
  </div>
</section>
